body {
    margin: 0 auto;
}
.link {
    list-style-type: none;
    display: inline-block;
    padding: 25.5px 72px;

}

.link a {
color: red;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 2.7px;

}
a {
text-decoration: none;
}
 .header {
width: 100%;
text-align: center;
 }


.picture {
   
width: 100%;
    
 }

.title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
text-align: center;
}

.text {
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 2.4px;
text-align: center;
color: #373737;
margin: 15px 72px;
}

.button {
font-family: Montserrat;
height: 51px;
width: 191px;
left: 544.5px;
top: 557px;
border-radius: 4px;
border-style: unset;
background-color: red;
color: white;
text-align: center;
margin: 66px 544.5px 150px;


}

.footer {
text-align: right;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
padding-right: 105px ;
}